<div class="container">
	<div class="row text-center">
		<h2>Мы в социальных сетях</h2>
		<!-- Мы всюду -->
		<a class="btn btn-social-icon btn-vk" href="https://vk.com/paraeffect">
			<span class="fa fa-vk"></span>
		</a>
		<a class="btn btn-social-icon btn-github" href="https://github.com/EfficiencyParadigm">
			<span class="fa fa-github"></span>
		</a>
	</div>
	<hr class="featurette-divider">
	<footer>
		<p class="pull-right"><a href="#">Наверх</a></p>
		<p>© 2015 Парадигма эффективности. · <a href="#">Конфиденциальность</a> · <a href="#">Условия</a></p>
	</footer>
</div>
