<div class="container">
	<div id="sign-up" class="jumbotron sign-up">
		<h2>Вы готовы к переменам? Вы готовы изменить свою жизнь?</h2>

		<script type="text/javascript">
			function showError() {
				$("#subscribe-result-text").text("Произошла ошибка! Пожалуйста, попробуйте позднее или свяжитесь со службой поддержки.");
				$("#subscribe-result-modal").modal();
			}

			function sendSubscribeForm() {
				var form = $('#subscribe-form');
				$.ajax({
					data: form.serialize(),
					type: form.attr('method'),
					url: form.attr('action'),
					error: function(xhr, desc, err) {

						$('input[name="EMAIL_OTHER"]').val('');

						try {
							var result = JSON.parse(xhr.responseText.replace(/'/g, '"'));

							if (result.error == "201") {
								$("#subscribe-result-text").text("Благодарим за подписку!");
								$("#subscribe-result-modal").modal();
							}
							else {
								showError();
							}
						}
						catch (error) {
							showError();
						}
					}
				});
				return false;
			}

			(function() {

				$(function() {

					$('input[name="EMAIL_OTHER"]').keypress(function(e) {
						if (e.which == 13) {
							sendSubscribeForm();

							return false;
						}
					});

				});

			})();
		</script>

		<form id="subscribe-form" action="https://para-effect.bitrix24.ru/crm/configs/import/lead.php" method="post">
			<input type="hidden" name="AUTH" value="a65921da7339a7411f3997df8609a94d" />
			<input type="hidden" name="TITLE" value="API" />
			<!--Адрес электронной почты:-->
			<input type="text" name="EMAIL_OTHER" value="" placeholder="адрес электронной почты" />
			<button type="button" class="btn btn-primary btn-lg" onclick="sendSubscribeForm(); return false;">Подписаться</button>
		</form>


		<div id="subscribe-result-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div id="subscribe-result-text" class="modal-content">
					...
				</div>
			</div>
		</div>
	</div>
</div>