<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/css/dopstyle.css" rel="stylesheet" media="screen">
	<link href="/font_awesome/css/font-awesome.min.css" rel="stylesheet" type="css/text">

	<script type="text/javascript" src="/js/jquery.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Парадигма эффективности</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">О нас <span class="sr-only">(current)</span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Курсы <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#business">Деловая эффективность</a></li>
							<li><a href="#relation">Успешные отношения</a></li>
							<li><a href="#soul">Духовное развитие</a></li>
						</ul>
					</li>
					<li><a href="#">Контакты</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	{{ content }}
	
	<div class="container">

		<div class="row">
			<div class="text-center">
				<h1>Мы в социальных сетях</h1>
				<!-- Мы всюду -->
				<a class="btn btn-social-icon btn-vk" href="https://vk.com/paraeffect">
					<span class="fa fa-vk"></span>
				</a>
				<a class="btn btn-social-icon btn-github" href="https://github.com/EfficiencyParadigm">
					<span class="fa fa-github"></span>
				</a>
			</div>
		</div>

		<hr class="featurette-divider">
		<footer>
			<p class="pull-right"><a href="#">Наверх</a></p>
			<p>© 2015 Парадигма эффективности. · <a href="#">Конфиденциальность</a> · <a href="#">Условия</a></p>
		</footer>
	</div>

	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>

</html>