<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/css/dopstyle.css" rel="stylesheet" media="screen">
	<link href="/font_awesome/css/font-awesome.min.css" rel="stylesheet" type="css/text">

	<script type="text/javascript" src="/js/jquery.js"></script>
</head>

<body>
	{% include navbar.html %}

	{{ content }}
	
	{% include singup.html %}
	
	<div class="container">

		<div class="row">
			<div class="text-center">
				<h1>Мы в социальных сетях</h1>
				<!-- Мы всюду -->
				<a class="btn btn-social-icon btn-vk" href="https://vk.com/paraeffect">
					<span class="fa fa-vk"></span>
				</a>
				<a class="btn btn-social-icon btn-github" href="https://github.com/EfficiencyParadigm">
					<span class="fa fa-github"></span>
				</a>
			</div>
		</div>

		<hr class="featurette-divider">
		<footer>
			<p class="pull-right"><a href="#">Наверх</a></p>
			<p>© 2015 Парадигма эффективности. · <a href="#">Конфиденциальность</a> · <a href="#">Условия</a></p>
		</footer>
	</div>

	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>

</html>